@font-face { font-family: Adam; src: url('Fonts/Adam.otf'); }
@font-face { font-family: Bakery; src: url('Fonts/bakery.otf'); }
@font-face { font-family: BasicTitle; src: url('Fonts/basictitlefont.ttf'); }
@font-face { font-family: Bromello; src: url('Fonts/bromello.otf'); }
@font-face { font-family: ChasingEmbers; src: url('Fonts/chasingembers.otf'); }
@font-face { font-family: HickoryJack; src: url('Fonts/HickoryJack.ttf'); }
@font-face { font-family: LemonMilk; src: url('Fonts/LemonMilk.otf'); }
@font-face { font-family: Lobster; src: url('Fonts/Lobster.otf'); }
@font-face { font-family: MagnoliaSky; src: url('Fonts/magnolia_sky.otf'); }
@font-face { font-family: MasterOfBreak; src: url('Fonts/master_of_break.otf'); }
@font-face { font-family: Mekar; src: url('Fonts/MekarScript.otf'); }
@font-face { font-family: MoonFlower; src: url('Fonts/MoonFlower.ttf'); }
@font-face { font-family: MoonFlower; font-weight: bold; src: url('MoonFlowerBold.ttf');}
@font-face { font-family: Residual; src: url('Fonts/residual.ttf'); }
@font-face { font-family: Shorelines; src: url('Fonts/ShorelinesScriptBold.otf'); }
@font-face { font-family: Riesling; src: url('Fonts/riesling.ttf'); }
@font-face { font-family: SweetPea; src: url('Fonts/SweetPea_2.ttf'); }
@font-face { font-family: Walkway; src: url('Fonts/WalkwayCondensedSemiBold.ttf'); }
@font-face { font-family: Amethyst; src: url('Fonts/Amethyst.ttf'); }
@font-face { font-family: Promenade; src: url('Fonts/Promenade_de_la_Croisette.ttf'); }
@font-face { font-family: Intrique; src: url('Fonts/IntriqueScript_PersonalUse.ttf'); }
@font-face { font-family: SugaryPancake; src: url('Fonts/Sugary_Pancake.ttf'); }
@font-face { font-family: CashCurrency; src: url('Fonts/CashCurrency.ttf'); }
@font-face { font-family: Chocoleta; src: url('Fonts/chocoleta.otf'); }
@font-face { font-family: ClementePDae; src: url('Fonts/ClementePDae-Light.ttf'); }
@font-face { font-family: FUTRFW; src: url('Fonts/FUTRFW.ttf'); }
@font-face { font-family: YoungBeautiful; src: url('Fonts/YoungBeautiful.ttf'); }
@font-face { font-family: ReturnToSender; src: url('Fonts/Return_To_Sender.ttf'); }
@font-face { font-family: Tulip; src: url('Fonts/Tulip.otf'); }

.head {
  font-family: LemonMilk; src: url('Fonts/LemonMilk.otf');
  font-family: ClementePDae; src: url('Fonts/ClementePDae-Light.ttf');
}

.nav a {
  color: #59D0D0;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image:url('http://ucsdnews.ucsd.edu/news_uploads/pal-150212.jpg');
  height: 500px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: YoungBeautiful;
}

.jumbotron .container {
  position: relative;
  top:100px;

}

.jumbotron h1 {
  color: #fff;
  font-family: LemonMilk;
  font-size: 48px;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.course-guides {
  background-color: #E1F4E9;
  border-bottom: 1px solid #dbdbdb;
  font-family: ClementePDae;
}

.course-guides h2 {
  color: #393c3d;
  font-family: LemonMilk;
  font-size: 24px;
}

.course-guides p {
  font-size: 15px;
  margin-bottom: 13px;
}

.course-guides h3 {
  position: absolute;
  right: 0;
  left: 0;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.course-guides .thumbnail {
  position: relative;
  display: block;
}

.copyright {
  display: table-row;
  font-family: ClementePDae;
  background-color: #f7f7f7;
}
